:root {
	--img_sword: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAA7AAAAOwBeShxvQAAAB5QTFRFAAAA/rUT5uvzztXjq1kW5+r14ufw/8YF/8QHr1kWOCO8XQAAAAp0Uk5TAPr+/fwgpBqRPkYi9G8AAAC6SURBVHicjZCxDoIwEIZv0cLmryTiWl/AhOBOcgubcWAmDs5lglEWdWTwgT1MkGvj4A1N+/Xr3Z8S6VpcrXeurN1799baTIOzCMdQyANBg4+QHQIhq2fhMgqqZ/WfcAqE/LfQPR2REgzwoKUSIiB1uoMA3PWIEUCPMD1arHUG08YFvAz0Ymz0T8XMBWpPYMbWE7hs4L49+4R5aGalAbiU/OkEeiAZBGACst1RAFbjqp/IgA63CUQ6gtQbfGErFF7/nE4AAAAASUVORK5CYII=");
	--img_paper: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAAnQAAAJ0Bj3LnbgAAAB5QTFRF+OmvAAAA89Ze14Rw2cCY1k8/8eGhmEQ/+uqj87Jse3RL9AAAAAp0Uk5T/wD49//9of8rH/vnQeUAAAEOSURBVHicXdG9asMwFAXggx1COmoJ8VgNptkKcmqyGaKSB0i127RkLiTgNV2CVxMo9G177rVSm2ow0se5Vz/Gbdub6YBz2//w0sV59s0wbs5X806X1j4JFN4Bx45La9eE7OM1PANIBHKCuW7CAYgkkIWgEaWeYN5DjHA0AthIZF8ILAgrpBJJ21N1hyGCXXvGA2EJibxJQaVwgUQKlNIkj5AePNKyrWAJtYS952dH6AlpJaQViW3AXc/shlnZFoRHAhd6hpkjrLGEl7lShFKuphXgA0B23WtF+UmwCjy1VijUw70H4iPeH0KaIMl/DKZjIf/lWo/QCJjVSAMYUoSvCH80gjHdEZibCQjJJuYXZ+xAP6Rjil4AAAAASUVORK5CYII=");
	--img_chat: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAA7AAAAOwBeShxvQAAADxQTFRFkcPmAAAAkcPmstXukL/ltNbueJGic4aTibLQkcPmvtzwpM7qmazZkcPm5vL5ps/ruNnw0uf1udD/////pH/0JgAAABR0Uk5T/wBl/xH0////Qrz8Bltj6diDAgFfSBG4AAAAzklEQVR4nL3TQQ6EIAwF0BYLSBFl9P53HUFhVKru5i/QpC+2CRWQOOpLIo9YAqQ9tJmqAJbqAFyBFuugK+hk0P0b9Mb05/MCjLUGwOZzexeBuQe9senjdmth2xbykEoFR89gJfQClHsD4eGyMlDAMmCkHYziPvixAhzjvlO+K9FxXShXAOKcB/VMJTPWegaYgP/gLwOVegVTqishO9i2+Bbw/h+Eth7g0LkOdog7AWoBnQDS5RvpuvGcZcjZ4JIWBuXkbvgAkMILWOdx6fEFbukIF0RE9j4AAAAASUVORK5CYII=");
	--img_compass: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAA7AAAAOwBeShxvQAAADxQTFRF/7VV/+J5AAAA8/P11Ob1l8jt/39K+chs/9tn/8Bd/+J48eTO/9x0/9Zv99ugiHp0/5MKWVFO/6k53KWUcJJTdwAAABR0Uk5T/v8A//////8Zydn/klf///v/bf9A3eYXAAABMUlEQVR4nG2T2RaDIAwFUwEBWdz+/18LuSypNS8enTGQQGgZ4VKMW4kYHb9fnnxaaOC4fUZsxbmoxHFRx5/f2BJRkY4Dgts+f2F9AU0Q3Aol9Qyd56DUvisVMlw6Dt5D5wVDKArzusdaBfaXlZqCUrlyiksRnORKt6dioRRCSND5CK1Z8Au5vn5Y1yy4zkhBaSRYS9yh85YiURwF3CtHbhwpPHGN/FuAsN7gOjwF1bhpAtYg7tnO5Wdww8Z+nn+CapyFswtiibJN5sbIJaQQGjdyk7PMWr8RRisziU7zj0OwaBRaPTkU0ep5WPo3+mGN437wedxIYS2+n7vkvl4YvnLl3Qb0Z1TICRZcWvg2Q8B1A8dkJXqNtHTh3cCE9tHzT+zB5/Am/4aFUAe4OT66+fULsfQP1birKzkAAAAASUVORK5CYII=");
	--img_save: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAAnQAAAJ0Bj3LnbgAAADxQTFRFQlFtSVp52uHyws7lztbmjpmuUdjlu8TZeIminqi9WvH/rrjNVMbYxuT0Xm2HAAAAR1h3RVVyR1ZyR1h2eZplWQAAABR0Uk5T////////////////////ANT0HUjqAr+PAAAAgUlEQVR4nI3Q2RaDIAxF0RuCDNUWKP//ryXFWkUczmP2ghVAjkTklOQAvLT28R1CgMwbQCoC6oBIH4ocAOIR4BYoZtZboOHbKHlaQw3rTsFNNVObFjCP2gzmGvhZ47k/qOUdW7An4IdfDbAt+dLYgJbkR+zdq/YnYn+rhBxT2kPKH1FvCKEBnt/sAAAAAElFTkSuQmCC");
	--img_load: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAAnQAAAJ0Bj3LnbgAAADxQTFRF8MQZKbmZ8p0fAAAA8bIc8MIa8MQZq7NIKrmY7cQa0sIs8d2BebRn87wcLL+aJrmZ//8AdbhpAP//c69phZ/jMwAAABR0Uk5T//3/AP+y8v6kbP///xcZUAGrAUn40tQBAAAAp0lEQVR4nHWSiw6DIAwAy1peojLd///rKm3ZZOOiCXLpBRIhB2CCf+JeXUr1RAECATGQ+WN3TFUBKsJmJu0ijOCZo5m7EJzVRrE2c3ZBhoiXCXoYsYm4qejbUSbWo94HXCfZALXF0kVWQVAKP6Xo/hK0RHZcmVnAa+lzketYESBb6dvwPmxDqdX49TiWlIw/JeG6+ViCVsJZCWclnJVwVkLwfwau/+INBncEwpxiohQAAAAASUVORK5CYII=");
	--img_delete: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAAnQAAAJ0Bj3LnbgAAADxQTFRF////AAAA////////////////////////////////////////////////////////////////////////npt1BAAAABR0Uk5T/wB3M/ryVkUE3GQ8bhvOlb+s6oPyVnGNAAAAt0lEQVR4nHWR2RaDIBBDGXZlVf//X8sMsQtt88BxuJpIUDTVrBLZhg1F0WutL/XUNUYfB/Dqh/Z/wA9AbLVIrIjMlySc6FyNHMC2gg2grqAC9BV0gIOHs4+z2y55B0DjvELJuUDFLYDzUsCfNAApKs/ustQFkFHP0C6PGkAmxz4j536HgdQYplWwUuEEAeF7xmkDgOGbSxyVo+EvEkCZzT0XZT7AmwpAXEEEWOutdANT7WvbVo6gB7iKBNvL+guBAAAAAElFTkSuQmCC");
	--img_download: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADxQTFRFAAAA////////////+f783ffv/v//3ffv3ffv5Pnz8fz56vr16/r23ffv9v377/v4////3vfw5Pny3ffvbBfD6AAAABR0Uk5TAP+TRfsGWm8m6uDv0U/LfyiIepVDO0gQAAAAbElEQVR4nNWPuQ6AIBAFF+S+j///V0FjWJTEwsqpyEzxFoBXKGnQvwcuQw9B8kkLIRzrgbn2ROGQFwwFbYe3GgUfR4gejyRqzg1D0+2q2gszdb6ql9x2bH54AFW0Lmrxc1BSPvw2gQKZ+BQW7MaRAtfJQ2l0AAAAAElFTkSuQmCC");
}

body {
	background-color: #303030;
	background-image: none;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.invert_colors {
	filter: invert(1);
}

.maincontainer {
	padding-right: 4px;
	padding-left: 4px;
	margin-right: auto;
	margin-left: auto;
}


@media (min-width: 768px) {
	.adaptivecontainer {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.adaptivecontainer {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.adaptivecontainer {
		width: 1170px;
	}
}

@media (min-width: 1200px) {
	.clampedcontainer {
		width: 1170px;
	}
}

@media (min-width: 1800px) {
	.bigclampedcontainer {
		width: 1770px;
	}
}


.settinglabel input {
	width: 6ch;
	background-color: #1a3364;
	/* border: none; */
	outline: none;
}

.settinglabel input[type=checkbox] {
	width: 3ch;
}


.settinglabel.miniinput {
	background-color: #ffffff;
	color: #555;
	border: 0px solid #ccc;
	border-radius: 4px;
	width: 100%;
}

.settinglabel.miniinput:focus {
	color: #555;
}

.settingsmall {
	font-size: 10px;
}

.settingsmall.widerinput {
	width: 8ch;
}

.settinglabel input:focus {
	color: #cdf;
}

#gametext,
chunk,
chunk * {
	outline: 0px solid transparent;
}

#topmenu {
	background-color: #757575;
	padding: 8px;
	display: flex;
	line-height: normal;
}

body.connected #topmenu {
	background-color: #337ab7;
}

#menuitems {
	display: flex;
	width: 100%;
}

#navbar {
	margin: 0px;
}

#navbar li {
	margin-right: 5px;
	background-color: #828282;
	border-radius: 5px;
}

body.connected #navbar li,
#navbar li.always-available {
	background-color: #4787be;
}

#navbar li>a {
	color: #ffffff;
	font-weight: bold;
}

.settingsmenu {
	display: flex;
	flex-wrap: wrap;
	background-color: #4d4d4d;
	padding: 6px;
}

body.connected .settingsmenu,
.settingsmenu.always-available {
	background-color: #295071;
}

#formatmenu {
	display: none;
	background-color: #4d4d4d;
	padding: 10px;
}

body.connected #formatmenu,
#formatmenu.always-available {
	background-color: #295071;
}

#connectstatusdiv {
	display: flex;
	text-align: right;
	font-size: 14px;
	width: 120px;
}

#gamescreen {
	overflow-x: hidden;
	display: flex;
	vertical-align: bottom;
	color: #ffffff;
	font-size: 12pt;
	font-family: "Helvetica";
}


#gamescreen span {
	align-self: flex-end;
}

#gametext {
	max-height: 100%;
	width: 100%;
	word-wrap: break-word;
	padding: 10px;
	overflow-y: auto;
}

.txtchunk,
ai_context_koboldlite_internal,
#gametext,
.chat_received_withd_msg p,
.chat_sent_msg p {
	white-space: pre-wrap;
}

#actionmenu {
	margin-top: 6px;
}

#actionmenuitems button,
#actionmenuitems2 button {
	width: 78px;
}

@media (max-width: 624px) {

	#actionmenuitems button,
	#actionmenuitems2 button {
		width: 60px;
		padding: 4px 4px;
		font-size: 12px;
	}
}

#messagefield {
	margin-left: 20px;
}

#inputrow.show_mode {
	grid-template-columns: 50px auto 74px;
}

#inputrow {
	margin-top: 10px;
	padding: 0px;
	width: 100%;
	display: grid;
	grid-template-columns: 0% auto 72px;
}

.input_action {
	content: var(--img_sword);
}

.input_story {
	content: var(--img_paper);
}

.input_chat {
	content: var(--img_chat);
}

#inputrowmode {
	position: relative;
	padding-right: 0px;
}

#inputrowleft {
	padding-right: 10px;
}

#inputrowright {
	position: relative;
}

#input_text,
#memorytext,
#anotetext {
	height: 80px;
	resize: none;
	overflow: auto;
	background-color: #404040;
	color: #ffffff;
	resize: vertical;
}

#btnmode_chat,
#btnmode_adventure {
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

#btnsend {
	width: 100%;
	height: 100%;
}

#btnsend.wait {
	background-color: #6c6c6e;
}

#btnsend.wait:hover {
	background-color: #98989a;
}

#anoterowcontainer {
	display: none;
}

#anoterow {
	margin-top: 10px;
	padding: 0px;
	width: 100%;
	display: grid;
	grid-template-columns: 90% 10%;
}

#anoterowleft {
	padding-right: 10px;
}

.inlineinput {
	background-color: #404040;
	color: #ffffff;
	resize: none;
	overflow: auto;
}

.anotetempbox {
	display: inline;
	width: 100%;
}

.anotetempscale {
	display: inline;
	width: 94px;
	padding: 6px 3px;
}

.stopseqbox {
	display: inline;
	width: 100%;
}

#popuptitlebar {
	padding: 10px;
	background-color: #757575;
}

body.connected #popuptitlebar,
#popuptitlebar.always-available {
	background-color: #337ab7;
}

#popuptitletext {
	height: 100%;
	display: flex;
	align-items: center;
	color: #ffffff;
	font-size: 12pt;
}

#popuplistheader {
	padding-left: 10px;
	display: grid;
	grid-template-columns: 28% 10% 60%;
	color: #737373;
}

#popupcontent {
	height: 325px;
	overflow-y: scroll;
}

#popupfooter {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	background-color: #4d4d4d;
}

body.connected #popupfooter,
#popupfooter.always-available {
	background-color: #295071;
}

#popupfooter button {
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

#wimenu {
	padding-top: 10px;
	max-height: 100%;
	width: 100%;
}

#aidgpopup {
	width: 350px;
	background-color: #262626;
	margin-top: 100px;
}

.workerpopup {
	background-color: #262626;
	margin-top: 100px;
}

@media (max-width: 768px) {
	.workerpopup {
		width: 100%;
		background-color: #262626;
		margin-top: 100px;
	}
}

.nspopup {
	background-color: #262626;
	margin-top: 200px;
}

.nspopup.moderate {
	margin-top: 170px;
}

.nspopup.higher {
	margin-top: 120px;
}

.nspopup.evenhigher {
	margin-top: 80px;
}

.nspopup.highest {
	margin-top: 40px;
}

.nspopup.fixsize {
	width: 330px;
}

.nspopup.flexsize {
	width: 600px;
}

@media (max-width: 620px) {
	.nspopup.flexsize {
		width: 100%;
	}
}

.nspopup.flexsizesmall {
	width: 440px;
}

@media (max-width: 520px) {
	.nspopup.flexsizesmall {
		width: 100%;
	}
}

.nspopup.flexsizevsmall {
	width: 330px;
}

@media (max-width: 340px) {
	.nspopup.flexsizevsmall {
		width: 100%;
	}
}

.nspopup.flexsizebig {
	width: 940px;
}

@media (max-width: 992px) {
	.nspopup.flexsizebig {
		width: 740px;
	}
}

@media (max-width: 750px) {
	.nspopup.flexsizebig {
		width: 100%;
	}
}

/*================= Classes =================*/

body:not(.connected) .btn-primary {
	background-color: #757575;
	border-color: #4a4a4a;
}

.btn-primary.always-available {
	background-color: #337ab7;
	border-color: #2e6da4;
}

body:not(.connected) .btn-primary.focus,
body:not(.connected) .btn-primary:focus {
	background-color: #5c5c5c;
	border-color: #292929;
}

.btn-primary.focus.always-available,
.btn-primary.always-available:focus {
	background-color: #286090;
	border-color: #122b40;
}

body:not(.connected) .btn-primary:hover {
	background-color: #5c5c5c;
	border-color: #4a4a4a;
}

.btn-primary.always-available:hover {
	background-color: #286090;
	border-color: #204d74;
}

body:not(.connected) a.dropdown-item:focus,
body:not(.connected) a.dropdown-item:hover {
	color: #4f4f4f;
}

a.dropdown-item.always-available:focus,
a.dropdown-item.always-available:hover {
	color: #23527c !important;
}

.aidgpopuplistheader {
	color: #737373;
	text-align: center;
}

.msgboxtxt {
	max-height: 320px;
	overflow-y: auto;
	overflow-wrap: break-word;
}

.anotelabel {
	font-size: 10pt;
	color: #ffffff;
}

.anotelabel:not(.no-padding) {
	padding-top: 10px;
}

.airange {
	width: 100px;
}

.box {
	border-radius: 5px;
	border: 1px solid #646464;
	padding: 4px;
	background: #373737;
}

.box-label {
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: inline-block;
	font-size: 12px;
}

.chunkhov:hover {
	color: #c0fc51;
	cursor: pointer;
}

.chunkhov:hover>action {
	color: #00fa00;
}

.colorfade,
.colorfade * {
	-moz-transition: color 1s ease-in, text-shadow 1s ease-in;
	-o-transition: color 1s ease-in, text-shadow 1s ease-in;
	-webkit-transition: color 1s ease-in, text-shadow 1s ease-in;
	transition: color 1s ease-in, text-shadow 1s ease-in;
}

.color_blueurl {
	color: #d3e7ff;
}

.color_blueurl:hover {
	color: #ffffff;
}

.color_blueurl:focus {
	color: #d3e7ff;
}

.color_orange {
	color: #f7a223;
}

.color_green {
	color: #3bf723;
}

.color_darkgreen {
	color: #63975c;
}


.bg_black {
	background-color: #202020;
}

.bg_black:hover {
	background-color: #202020;
}

.bg_black:focus {
	background-color: #202020;
}

.bg_black:disabled {
	background-color: #202020;
}

.bg_black:disabled:hover {
	background-color: #202020;
}

.bg_green {
	background-color: #129c00;
}

.bg_green:hover {
	background-color: #058105;
}

.bg_green:active:focus {
	background-color: #105e10;
}

.bg_green:focus {
	background-color: #058105;
}

.bg_green:disabled {
	background-color: #8a8a8a;
}

.bg_green:disabled:hover {
	background-color: #8a8a8a;
}

.bg_red {
	background-color: #c40000;
}

.bg_red:hover {
	background-color: #da0000;
}

.bg_red:active:focus {
	background-color: #970606;
}

.bg_red:focus {
	background-color: #da0000;
}

.bg_red:disabled {
	background-color: #8a8a8a;
}

.bg_red:disabled:hover {
	background-color: #8a8a8a;
}

.bg_orange {
	background-color: #cc7e09;
}

.bg_orange:hover {
	background-color: #db8e1a;
}

.bg_orange:active:focus {
	background-color: #ac8314;
}

.bg_orange:focus {
	background-color: #b37b15;
}

.bg_orange:disabled {
	background-color: #8a8a8a;
}

.bg_orange:disabled:hover {
	background-color: #8a8a8a;
}

.bg_purple {
	background-color: #b900b0;
}

.bg_purple:hover {
	background-color: #99009e;
}

.bg_purple:active:focus {
	background-color: #7a137a;
}

.bg_purple:focus {
	background-color: #81057b;
}

.bg_purple:disabled {
	background-color: #8a8a8a;
}

.bg_purple:disabled:hover {
	background-color: #8a8a8a;
}

.color_cyan {
	color: #7afaff;
}

.color_gray {
	color: #9b9b9b;
}

.color_red {
	color: #ff7967;
}

.color_chat1 {
	color: #da6060;
}

.color_chat2 {
	color: #e0c158;
}

.color_chat3 {
	color: #53c753;
}

.color_chat4 {
	color: #b469ae;
}

.color_blue {
	color: #828eff;
}

.color_yellow {
	color: #f1dd21;
}

.color_pink {
	color: #ffbdbd;
}

.hr_instruct {
	margin-top: 12px;
	margin-bottom: 12px;
}

.dropdown-menu {
	background-color: #757575;
	width: 200px;
}

#outerbodybg {
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#outerbody {
	z-index: -2;
	position: relative;
}

body.connected .dropdown-menu,
.dropdown-menu.always-available {
	background-color: #337ab7;
}

.dropdown-item {
	display: block;
	padding: 10px;
	color: #ffffff;
	border-bottom: 1px solid #4d4d4d;
}

body.connected .dropdown-item,
.dropdown-item.always-available {
	border-bottom: 1px solid #295071;
}

.dropdown-item:first-child {
	border-top: 1px solid #4d4d4d;
}

body.connected .dropdown-item:first-child,
.dropdown-item:first-child.always-available {
	border-top: 1px solid #295071;
}

.dropdown-item:hover {
	background-color: #bababa;
	text-decoration: none;
}

body.connected .dropdown-item:hover,
.dropdown-item.always-available:hover {
	background-color: #98bcdb;
}

.edit-flash,
.edit-flash * {
	color: #3bf723 !important;
}

.status-flash,
.status-flash {
	color: #fce94f !important;
	text-shadow: 0 0 50px #fce94f, 0 0 50px #fce94f, 0 0 10px #fce94f, 0 0 10px #fce94f, 0 0 10px #fce94f, 0 0 10px #fce94f, 0 0 10px #fce94f;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-row-container {
	display: flex;
	flex-flow: wrap;
}

.flex-row {
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	width: 100%;
}

.flex-push-right {
	margin-left: auto;
}



.btnicon-save {
	width: 16px;
	height: 16px;
	content: var(--img_save);
}

.btnicon-load {
	width: 16px;
	height: 16px;
	content: var(--img_load);
}

.btnicon-delete {
	width: 16px;
	height: 16px;
	content: var(--img_delete);
}

.btnicon-download {
	width: 16px;
	height: 16px;
	content: var(--img_download);
}


.formatlabel {
	color: #ffffff;
	padding-left: 5px;
}

.hidden {
	display: none;
}

.heightfull {
	height: 100%;
}

.heighthalf {
	height: 50%;
}

.helpicon {
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	width: 2.2ex;
	height: 2.4ex;
	font-size: 1.4ex;
	line-height: 1.8ex;
	border-radius: 1.2ex;
	margin-right: 4px;
	margin-left: 1px;
	padding: 1px;
	color: #295071;
	background: #ffffff;
	border: 1px solid white;
	text-decoration: none;
}

.statusicon {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 30px !important;
	font-weight: bold;
	text-align: center;
	font-size: 1.4ex;
	line-height: 1.8ex;
	text-decoration: none;
	color: #9e9e9e;
}

body.connected .statusicon,
.statusicon.always-available {
	color: #68a2d4;
}

.statusicon.active {
	color: #3bf723 !important;
}

.helpicon:hover,
.statusicon:hover {
	cursor: pointer;
}

.helpicon:hover .helptext,
.statusicon:hover .statustext,
.statusicon.statustoggled .statustext {
	display: inline-block;
	width: 250px;
	background-color: #1f2931;
	color: #ffffff;
	font-size: 11pt;
	font-weight: normal;
	line-height: normal;
	border-radius: 6px;
	padding: 15px;
	margin-left: 10px;
	border: 1px solid #337ab7;
}

.statusicon:hover .statustext.statustext-wide,
.statusicon.statustoggled .statustext.statustext-wide {
	width: 350px;
}

.statusiconlabel {
	pointer-events: none;
	color: #757575;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

body.connected .statusiconlabel,
.statusiconlabel.always-available {
	color: #337ab7;
}

#usiconlabel {
	transform: translate(-3px, 10px);
	-moz-transform: translate(-3px, 10px);
	-webkit-transform: translate(-3px, 10px);
	-ms-transform: translate(-3px, 10px);
	-o-transform: translate(-3px, 10px);
}

.status-container {
	z-index: 1;
	text-shadow: none !important;
}

.helptext,
.statustext {
	display: none;
	font-family: sans-serif;
	position: absolute;
	z-index: 1;
	text-shadow: none !important;
}

.statustext {
	transform: translate(-105%, 30px);
	-moz-transform: translate(-105%, 30px);
	-webkit-transform: translate(-105%, 30px);
	-ms-transform: translate(-105%, 30px);
	-o-transform: translate(-105%, 30px);
}

.statusheader {
	padding-bottom: 10px;
}

#stat-usactive {
	text-align: left;
	height: 270px;
	overflow-y: scroll;
	position: relative;
	padding-left: 20px;
}

.justifyleft {
	text-align: left;
}

.justifyright {
	text-align: right;
}

.layer-container {
	display: grid;
}

.layer-bottom {
	grid-area: 1/1;
	z-index: 0;
}

.layer-top {
	grid-area: 1/1;
	z-index: 2;
}

.icon-container {
	position: relative;
}

hr {
	padding: 0px;
	margin: 0px;
}

.navbar .navbar-nav .nav-link:hover {
	border-radius: 5px;
	background-color: #bababa;
}

body.connected .navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.always-available:hover {
	background-color: #98bcdb;
}

body .navbar .navbar-nav .dropdown-item.always-available {
	background-color: #337ab7;
}

body .navbar .navbar-nav .dropdown-item.always-available:hover {
	background-color: #98bcdb;
}

.navbar .navbar-nav .nav-link:focus {
	border-radius: 5px;
	background-color: #bababa;
}

body.connected .navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link.always-available:focus {
	background-color: #98bcdb;
}

.navbar-toggler {
	background-color: #757575;
	border: 1px solid #bababa;
	height: 45px;
	width: 60px;
	border-radius: 6px;
}

body.connected .navbar-toggler,
.navbar-toggler.always-available {
	border: 1px solid #98bcdb;
}

body .navbar-toggler {
	background-color: #337ab7;
}

.navbar-toggler:hover {
	background-color: #bababa;
}

body.connected .navbar-togger:hover,
.navbar-togger.always-available:hover {
	background-color: #98bcdb;
}

@media (min-width: 768px) {
	.navbar-toggler {
		display: none;
	}
}

@media (max-width: 768px) {
	.nav-item {
		margin-bottom: 3px;
	}
}

.settingsnav {
	margin-top: 6px;
	margin-left: 6px;
}

.settingsnav>li.active>a {
	color: #0063ff !important;
}

.settingsnav>li>a {
	border-radius: 8px 8px 0 0;
	padding-top: 6px !important;
	padding-bottom: 2px !important;
	color: #666;
	background-color: #b1b1b1;
}

.memtabcontainer {
	padding: 3px;
}

.navbar-button-bar {
	display: block;
	height: 2px;
	width: 42px;
	border: 1px solid #fff;
	margin: auto;
}

.navbar-button-bar+.navbar-button-bar {
	margin-top: 4px;
}

.navcontainer {
	width: 100%;
}

.nowrap {
	white-space: nowrap;
}

.popupcontainer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.popupbg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.5);
	flex-direction: column;
	align-items: center;
}

.popuptitlebar {
	padding: 10px;
	background-color: #757575;
}

body.connected .popuptitlebar {
	background-color: #337ab7;
}

.popuptitletext {
	display: flex;
	align-items: center;
	color: #ffffff;
	font-size: 12pt;
}

.popuperror {
	color: #ef2929;
	text-align: center;
}

.popupfooter {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	background-color: #4d4d4d;
}

body.connected .popupfooter,
.popupfooter.always-available {
	background-color: #295071;
}

.popupfooter button {
	width: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

.settingitem {
	width: 50%;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: inline-block;
	border-bottom: 1px solid #12324f;
}

.settinglabel {
	color: #ffffff;
	display: flex;
	flex-flow: wrap;
}

.settingminmax {
	display: grid;
	grid-template-columns: 50% 50%;
}

.settingminmax div {
	font-size: 8pt;
	color: #ffffff;
}

.spacer {
	display: inline-block;
	width: 50px;
}

.inlinelabel {
	color: #ffffff;
	display: flex;
	flex-flow: wrap;
}

.inlinelabel input {
	border-radius: 4px;
	background-color: #ffffff;
	color: #555;
	border: 0px solid #ccc;
	margin: 4px;
}



@media only screen and (max-width: 768px) {
	.SideMenu.open {
		width: 100%;
	}
}

.tokens-in-box {
	position: relative;
}

.token-budget {
	right: 20px;
	bottom: 3px;
	color: gray;
	position: absolute;
	font-size: 8px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-secondary {
	padding: 2px 6px;
}

.workerTableDiv,
.shareStory {
	max-height: 420px;
	overflow-y: auto;
	overflow-x: hidden;
}

.workerTable {
	color: #ffffff;
	font-size: min(1.4vw, 14px);
}

.workerTable>tbody>tr>td {
	padding: min(0.4vw, 5px);
}

.tablelines {
	border: 1px solid;
}


.saveloadpopup {
	width: 660px;
	background-color: #262626;
	margin-top: 80px;
}

@media (max-width: 768px) {
	.saveloadpopup {
		width: 100%;
		background-color: #262626;
		margin-top: 80px;
	}
}

.saveloadgrid {
	height: auto;
	overflow-y: auto;
	margin-top: 4px;
	padding: 4px;
	display: grid;
	gap: 4px;
	font-size: 12px;
	/* grid-auto-rows: 56px; */
}

@media (max-width: 340px) {
	.saveloadgrid {
		font-size: 8px;
	}
}


.scenariopopup {
	width: 600px;
	background-color: #262626;
	margin-top: 60px;
}

@media (max-width: 768px) {
	.scenariopopup {
		width: 100%;
		background-color: #262626;
		margin-top: 70px;
	}
}

.scenariosearch {
	margin-top: 8px;
	margin-left: 8px;
	width: calc(100% - 16px);
	padding: 4px;
}

.scenariosearchbox1 {
	display: inline;
	width: calc(100% - 100px);
}

.scenariosearchbox2 {
	display: inline;
	width: 94px;
	padding: 6px 3px;
}

.scenariogrid {
	height: 260px;
	overflow-y: auto;
	margin-top: 4px;
	padding: 8px;
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-rows: 55px;
}

.scenariodesc {
	padding: 4px 12px;
	width: 100%;
	height: 160px;
	color: #b7e2ff;
	overflow-y: auto;
}

.scenarioitem {
	font-size: 14px;
	color: white;
	font-weight: 500;
	font-family: 'Segoe UI', Tahoma;
	background-repeat: no-repeat;
	background-position: top 4px left 4px, center;
	background-size: 24px, 100%;
	padding: 2px 2px;
}

.scenarioitem.blue {
	background-image: var(--img_paper), linear-gradient(to right, #63aae7, #337ab7);

}

.scenarioitem.blue:hover {
	background-image: var(--img_paper), linear-gradient(to right, #7ebbf0, #438ac7);
}

.scenarioitem.blue:focus {
	background-image: var(--img_paper), linear-gradient(to right, #4c7aa3, #4c7aa3);
}

.scenarioitem.green {
	background-image: var(--img_sword), linear-gradient(to right, #58db6e, #2ba04e);
}

.scenarioitem.green:hover {
	background-image: var(--img_sword), linear-gradient(to right, #68e47d, #37b85e);
}

.scenarioitem.green:focus {
	background-image: var(--img_sword), linear-gradient(to right, #53a34c, #4ca353);
}

.scenarioitem.red {
	background-image: var(--img_chat), linear-gradient(to right, #e76363, #b73333);
}

.scenarioitem.red:hover {
	background-image: var(--img_chat), linear-gradient(to right, #f07e7e, #c74343);
}

.scenarioitem.red:focus {
	background-image: var(--img_chat), linear-gradient(to right, #a34c4c, #a34c4c);
}

.scenarioitem.purple {
	background-image: none, linear-gradient(to right, #dc63e7, #ac33b7);
}

.scenarioitem.purple:hover {
	background-image: none, linear-gradient(to right, #f07ee6, #c743c7);
}

.scenarioitem.purple:focus {
	background-image: none, linear-gradient(to right, #a34c9c, #a34ca3);
}

.scenarioitem.yellow {
	background-image: var(--img_compass), linear-gradient(to right, #daae5d, #ad8823);
}

.scenarioitem.yellow:hover {
	background-image: var(--img_compass), linear-gradient(to right, #e0c56e, #bba632);
}

.scenarioitem.yellow:focus {
	background-image: var(--img_compass), linear-gradient(to right, #a38c4c, #a38c4c);
}

.widelbtn {
	font-size: 12px;
	height: 24px;
	padding: 5px;
	margin: 2px;
	font-weight: bolder;
}

.wiarrowbtn {
	font-size: 12px;
	height: 18px;
	padding: 2px;
	margin: 0px 1px 0px 1px;
	font-weight: bolder;
}

.wiinputkeycol {
	min-width: 70px;
	width: 15%;
}

.wiinputkey {
	font-size: 14px;
	height: 24px;
	padding: 2px;
	margin: 0px;
}

.wiinputvalcol {
	width: 85%;
}

.wiinputval {
	font-size: 14px;
	height: 24px;
	padding: 2px;
	margin: 0px;
	resize: vertical;
}

.wilist {
	background-color: #434343;
	overflow-y: auto;
	max-height: 320px;
	min-height: 60px;
}

.witoggleroff,
.witoggleroff:hover,
.witoggleroff:focus {
	color: transparent;
	text-shadow: 0 0 0 gray;
	text-decoration: none;
}

.witoggleron,
.witoggleron:hover,
.witoggleron:focus {
	color: transparent;
	text-shadow: 0 0 0 #0cdb0c;
	text-decoration: none;
}

.lastreq {
	font-size: 9pt;
	padding-top: 2px;
	text-shadow: 1px 1px 1px #000000;
	/* font-style: italic; */
}

.outerloader {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.outerloadernum {
	position: absolute;
	color: white;
}

.innerloader {
	width: 32px;
	height: 32px;
	border: 6px solid #f3f3f3;
	/* Light grey */
	border-top: 6px solid #3498db;
	/* Blue */
	border-radius: 50%;
	animation: spin 4s linear infinite;
}

.innerloader.greenloader {
	border-top: 6px solid #0dcc2d;
}

.innerloader.redloader {
	border-top: 6px solid #f7610a;
}


.loader2 {
	border: 6px solid #8a8686;
	/* Light grey */
	border-top: 6px solid peru;
	/* Blue */
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	animation: spin 4s linear infinite;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
}

.imagelabel {
	bottom: 20%;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	text-align: center;
	color: peru;
	font-weight: bold;
}

.storyimgfloat {
	width: fit-content;
	float: right;
	position: relative;
	padding: 4px;
	clear: both;
}

.storyimgside {
	display: inline-block;
	width: fit-content;
	text-align: center;
	position: relative;
	padding: 4px;
	margin: 0 auto;
}

.storyimgcenter {
	width: fit-content;
	text-align: center;
	position: relative;
	padding: 4px;
	margin: 0 auto;
}

.zoomedimgdiv {
	text-align: center;
	position: relative;
	margin: 0 auto;
	padding-top: 6px;
	padding-bottom: 4px;
}

.zoomedimgdesc {
	max-height: 120px;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: 12px;
}

.zoomedimg {
	border-radius: 6%;
	width: 462px;
	height: 462px;
}

.zoomedimg.portrait {
	width: 308px;
	height: 462px;
}

.zoomedimg.landscape {
	width: 462px;
	height: 308px;
}

@media (max-width: 620px) {
	.zoomedimg {
		width: min(96vw, 420px);
		height: min(96vw, 420px);
	}

	.zoomedimg.portrait {
		width: min(64vw, 280px);
		height: min(96vw, 420px);
	}

	.zoomedimg.landscape {
		width: min(96vw, 420px);
		height: min(64vw, 280px);
	}
}

.mdlpicker::-webkit-calendar-picker-indicator {
	opacity: 100;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	12.4% {
		transform: rotate(0deg);
	}

	12.5% {
		transform: rotate(45deg);
	}

	24.9% {
		transform: rotate(45deg);
	}

	25% {
		transform: rotate(90deg);
	}

	37.4% {
		transform: rotate(90deg);
	}

	37.5% {
		transform: rotate(135deg);
	}

	49.9% {
		transform: rotate(135deg);
	}

	50% {
		transform: rotate(180deg);
	}

	62.4% {
		transform: rotate(180deg);
	}

	62.5% {
		transform: rotate(225deg);
	}

	74.9% {
		transform: rotate(225deg);
	}

	75% {
		transform: rotate(270deg);
	}

	87.4% {
		transform: rotate(270deg);
	}

	87.5% {
		transform: rotate(315deg);
	}

	99.9% {
		transform: rotate(315deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* #pickedmodel
{
	height: 120px;
} */

@media screen and (hover: hover) and (any-pointer: fine)
/* no custom scrollbars on mobile */
	{
	::-webkit-scrollbar {
		width: 5px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: #9191915e;
		border-radius: 10px;
		border: transparent;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #9494948a;
	}
}

label.unstyled {
	font-weight: normal;
	margin-bottom: 0;
	display: block;
}

.hlchunk {
	color: #cedaf0;
}


	/*---------chat window---------------*/
.chat_time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}

.chat_received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.chat_received_withd_msg p {
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.chat_received_withd_msg {
	width: 75%;
	background: #1d282f none repeat scroll 0 0;
	border-radius: 0 15px 15px 15px;
	color: #dde6e7;
	overflow:auto;
}

.chat_mesgs{
	width:100%;
	background: #0b141a;
}
.chat_mesgs_inner{
	padding: 12px 20px 12px 20px;
}

.gamescreenbgnormal
{
	background-color: #262626;
}

.translucentbg
{
	background-color: #00000066;
}
.transparentbg
{
	background-color: #00000000 !important;
}

.chat_sent_msg p {
	font-size: 14px;
	margin: 0;
	color: #dde6e7;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.chat_sent_msg {
	float: right;
	width: 75%;
	overflow:auto;
	background:#005c4b;
	border-radius: 12px 15px 0px 15px;
}

.chat_outgoing_msg {
	overflow: hidden;
	margin: 8px 0 8px;
}

.incoming_msg
{
	margin: 8px 0 8px;
}

.cht_inp_bg
{
	display: inline-block;
	width: calc(100% - 84px);
	background: #222222aa none repeat scroll 0 0;
	margin-top: 8px;
	margin-left: 2px;
	border-radius: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	border: 1px solid #bbbbbbaa;
}
.cht_inp_bg_inner
{
	width: 100%;
	resize: none;
	/* overflow-y:scroll; */
	overflow-x:hidden;
	background: #00000000 none repeat scroll 0 0;
	border: medium none;
	color: #bebebe;
	font-size: 15px;
	/* min-height: 36px; */
	/* width: 100%; */
	outline:none;
}
.cht_inp_bg.shorter
{
	width: calc(100% - 114px);
}

.cht_inp_hold_outer {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.chat_btnmode_chat {
	background: #143574 none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: relative;
	vertical-align: top;
	top: 11px;
	width: 33px;
	background-size: 50% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: var(--img_chat) !important;
}

.chat_btnmode_adventure{
	background: #3263be none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: relative;
	vertical-align: top;
	top: 11px;
	width: 33px;
	background-size: 50% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}
.chat_btnmode_adventure.actionmode
{
	background-image: var(--img_sword) !important;
}
.chat_btnmode_adventure.storymode
{
	background-image: var(--img_paper) !important;
}

.chat_msg_send_btn {
	background: #337ab7 none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: absolute;
	right: 40px;
	top: 11px;
	width: 33px;
	background-size: 50% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAAXNSR0IB2cksfwAAAAlwSFlzAAABigAAAYoBM5cwWAAAAB5QTFRFAAAA////////////////////////////////////JHyblQAAAAp0Uk5TAP9vDPYrvduISRPAj7AAAAB4SURBVHichdK7CcAgFIVhVzgg2scFbLKDpZAZQkibFUIWiGTfQArh/hax/EDv4+jcvCVnzq3QDExSqQAdGaA1A/wJUGwAhQpQyYBeqoP2DPAXQDEBFBbAV8qAnj/gFT7KskNjbJ3DcXwuiCsclswYGJSNcggb3+EFzkgkYRPincoAAAAASUVORK5CYII=') !important;

}
.chat_msg_send_btn:hover {
	background: #3f94df none repeat scroll 0 0;
}
.chat_msg_send_btn:disabled {
	background: #838383 none repeat scroll 0 0;
}

.chat_msg_send_btn_abort {
	background: #b73333 none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: absolute;
	right: 40px;
	top: 11px;
	width: 33px;
	background-size: 50% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAA7AAAAOwBeShxvQAAAB5QTFRF////AAAA////////////////////////////////+ZDkTwAAAAp0Uk5T/wAGyhCtf+a2XPn1V7sAAADISURBVHicRdE7DoJQEEbhkxh8lJcYewqtLWgsDRswrEArWytqwgpM3LDM/DNAAcnJR3JnLuU3NCWe+n0rnGDKcIYXX6iC1A848AH6BbDzIGJgDvYWMUBFRxAHtByv9p0CbO4UJ/smQKEECTCHIKOABZEAFkQCeEhiwEMSAwoiDhTqUWdZwlm/TBl0yCCsQIQViJBj5tDkHmLoOcSYuRdyD7kXcg9x3J7nMoWTrV+DpnCie2l1UZ2HZwKRLZcFOOmp39U9w/ExNH9CeSgHcv95sAAAAABJRU5ErkJggg==') !important;
}
.chat_msg_send_btn_abort:hover {
	background: #df3f3f none repeat scroll 0 0;
}
.chat_msg_send_btn_abort:disabled {
	background: #838383 none repeat scroll 0 0;
}

.chat_msg_cust_btn {
	background: #169c7b none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
	background-size: 64% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAA7AAAAOwBeShxvQAAAB5QTFRF////AAAA////////////////////////////////+ZDkTwAAAAp0Uk5T/wAM8dK2SHAtiuAmg50AAADMSURBVHicbZFNEoIwDIUztjjjMvUH3VlH0SXeAPECegPLDeQGsHHLcGJNWxqmmAVJPyZvkjzAKMB+LxpRtQzOeYl4FPUANjnIKitAGA868LHwIB8ANA4UMQgtwrc8IqBijVN4Q0ngQ5pJlVGjrBFS++uN6AoDa0oJDtpPWFGaE3hRdYMlpRmBPVXXKZi0OFHNolu7Wo+4s8MbQNXxYElLo6c8eu+WC/cQOlpfxvfwQLGG/g/sTeUd2AYyqvmNE4xyVqZspTMbDyP3R/EFHDwlDSXkmSQAAAAASUVORK5CYII=') !important ;

}
.chat_msg_cust_btn:hover {
	background: #18b991 none repeat scroll 0 0;
}
.chat_msg_cust_btn:disabled {
	background: #838383 none repeat scroll 0 0;
}


.chat_msg_history {
	overflow-y: auto;
}
.normal_viewport_height
{
	height: calc(98vh - 240px);
}
@media (max-width: 534px) {
	.normal_viewport_height
	{
		height: calc(98vh - 260px);
	}
}
@media (max-width: 342px) {
	.normal_viewport_height
	{
		height: calc(98vh - 280px);
	}
}
@media print {
	#inputrow, #actionmenu, #actionmenu2,#topmenu,.lastreq,.cht_inp_hold_outer
	{
		display: none;
	}
	#gamescreen, .chat_msg_history
	{
		display: inline;
		height: auto;
		overflow-y: hidden;
	}
}
.aesthetic_viewport_height
{
	height: calc(98vh - 160px);
}
.aesthetic_viewport_height.withmenu
{
	height: calc(98vh - 198px);
}
.aesthetic_viewport_height.withtyping
{
	height: calc(98vh - 210px);
}
.aesthetic_viewport_height.withmenu.withtyping
{
	height: calc(98vh - 248px);
}

/**
* ==============================================
* Dot Flashing
* ==============================================
*/
.dot-flashing {
position: relative;
left: -15px;
width: 8px;
height: 8px;
border-radius: 5px;
background-color: #9e9e9e;
color: #9e9e9e;
animation: dot-flashing 1s infinite linear alternate;
animation-delay: 0.5s;
}
.dot-flashing::before, .dot-flashing::after {
content: "";
display: inline-block;
position: absolute;
top: 0;
}
.dot-flashing::before {
left: -15px;
width: 8px;
height: 8px;
border-radius: 5px;
background-color: #9e9e9e;
color: #9e9e9e;
animation: dot-flashing 1s infinite alternate;
animation-delay: 0s;
}
.dot-flashing::after {
left: 15px;
width: 8px;
height: 8px;
border-radius: 5px;
background-color: #9e9e9e;
color: #9e9e9e;
animation: dot-flashing 1s infinite alternate;
animation-delay: 1s;
}

@keyframes dot-flashing {
0% {
	background-color: #9e9e9e;
}
50%, 100% {
	background-color: #9e9e9e33;
}
}

/*--------- end chat window---------------*/

/*--------- begin instruct-UI ------------*/
.ui-settings-inline { font-size: 12px; display:flex; flex-direction: row; }
.instruct-settings-input { margin: 0px 2px; font-size:10px; }
.instruct-settings-input input { width:40px; height:20px; }
#code-block-background-colorselector, #code-block-foreground-colorselector { text-align: center; margin: 0px 5px; }
#you-text-colorselector, #you-speech-colorselector, #you-action-colorselector, #AI-text-colorselector, #AI-speech-colorselector, #AI-action-colorselector, #sys-text-colorselector, #sys-speech-colorselector, #sys-action-colorselector { text-align: center; margin: 0px 5px; }
#you-bubble-colorselector, #AI-bubble-colorselector, #sys-bubble-colorselector, #you-portrait, #AI-portrait { text-align: center; margin: 0px 10px; border-radius: 1rem; padding: 1px 6px; }
@media screen and (max-width: 880px) {
	#aesthetic_text_preview_panel { display: none; }
}
.aui_nametag
{
	margin: 0 0 3px;
	font-weight: bold;
}
/*--------- end instruct-UI -----------*/
	